<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <title></title>
  <link rel="stylesheet" href="http://code.jquery.com/mobile/1.3.1/jquery.mobile-1.3.1.min.css" />
  
  
  <!-- jQuery and jQuery Mobile -->
  <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
  <script src="http://code.jquery.com/mobile/1.3.1/jquery.mobile-1.3.1.min.js"></script>

  <!-- Extra Codiqa features -->
  <script src="https://d10ajoocuyu32n.cloudfront.net/codiqa.ext.js"></script>
  <style type="text/css">
    .ui-bar-a{
    background: #ff6e00;
    text-shadow: 0 0px 0 #000;;
    }
    @font-face {
      font-family: ITC;
      src: url('<%= asset_path 'ITCKabelStd-Demi.otf' %>');
    }
    *{
      font-family: ITC;
    }
    b.thick {font-weight:bold;}
  </style>
</head>
<body>
<!-- Home -->
<div data-role="page" id="page1">
  <div data-theme="a" data-role="header">
      <h1>
          ThanxUP®
      </h1>
  </div>
  <div data-role="content">
    <center><font color="#92b1cd"><h1>-ThanxUP Aviso Legal-</h1></font></center>
    En cumplimiento de lo dispuesto en el artículo 5.5 de la Ley Orgánica 15/1999, de 13 de diciembre, de Protección de Datos de Carácter Personal, le informamos que ThanxUP(iniciativa de Widehaven Ltd., con número de registro en UK: 08014537) ha obtenido sus datos de carácter personal mediante la API de Facebook habiendo obtenido su permiso inicial. Le informamos de la posibilidad de ejercer sus derechos de acceso, rectificación, cancelación y oposición respecto a sus datos de carácter personal, solicitándolo por escrito en la siguiente dirección support@thanxup.com.
  

 </div>
  <div data-theme="c" data-role="footer" data-position="fixed">
      <h3>
          Powered by <a href="http://thanxup.com"><font color="#ff6e00">thanxup.com</font></a>
      </h3>
  </div>
</div>
</body>
</html>
