<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <title></title>
  <link rel="stylesheet" href="http://code.jquery.com/mobile/1.3.1/jquery.mobile-1.3.1.min.css" />
  
  
  <!-- jQuery and jQuery Mobile -->
  <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
  <script src="http://code.jquery.com/mobile/1.3.1/jquery.mobile-1.3.1.min.js"></script>

  <!-- Extra Codiqa features -->
  <script src="https://d10ajoocuyu32n.cloudfront.net/codiqa.ext.js"></script>
  <style type="text/css">
    .ui-bar-a{
    background: #ff6e00;
    text-shadow: 0 0px 0 #000;;
    }
    @font-face {
      font-family: ITC;
      src: url('<%= asset_path 'ITCKabelStd-Demi.otf' %>');
    }
    *{
      font-family: ITC;
    }
    b.thick {font-weight:bold;}
    h3 {margin-bottom:4px;}
    h5 {margin-top:1px;}


  </style>
</head>
<body>
<!-- Home -->
<div data-role="page" id="page1">
  <div data-theme="a" data-role="header">
      <h1>
          ThanxUP®
      </h1>
  </div>
  <div data-role="content">
    <center><font color="#92b1cd"><h1>-ThanxUP Info-</h1></font></center>
      <font color="#ff6e00"><h3>¿Qué es la influencia?</h3></font>
      <h5>Es una medida de cuanto caso te hacen tus amigos de tu red social. ThanxUp calcula tu influencia semanal basándose en tu actividad en Facebook y en ThanxUp.</h5>

      <font color="#ff6e00"><h3>¿Para qué sirve la influencia? </h3></font>
      <h5>Cuanta más influencia tienes, recibes mejores descuentos y ofertas. A los negocios que visitas les interesa tener felices  a los clientes con más influencia porque son lo que más van a hablar de su marca.
      </h5>

      <font color="#ff6e00"><h3>¿Cómo aumento mi influencia?</h3></font>
      <h5>Tu influencia varia según tu activdad en Facebook y en ThanxUp. Por ejemplo:<br>
       - Hacer checkin con ThanxUp<br>
       - Tus interacciones en Facebook <br>
       - Compartir cupones con amigos <br>
       - Que tus amigos utilicen los cupones que has compartido con ellos. Esta actividad es la que más aumentará tu influencia.
      </h5>

      <font color="#ff6e00"><h3>¿Cómo consigo descuestos con ThanxUp?</h3></font>
      <h5>Easy my friend:<br>
      1- Haz checkin en un establecimiento adherido<br>
      2- Espera unos segundos y recibirás un cupón en la pestaña de cupones<br>
      3- Enseña tu cupón y disfruta!<br>
      4- Si es un cupón social, podrás compartirlo con 3 amigos a cambio de otro descuento adicional y un aumento de tu influencia (recuerda, más influencia = mejores descuentos!)<br>
      </h5>

      <font color="#ff6e00"><h3>Entonces...analizais todo mi perfil de Facebook?</h3></font>
      <h5>Nop, solamente necesitamos contar el número de interacciones que tienes a la semana. Todo lo hace un algoritmo automático sin intervención de humanos.Tampoco leemos ni guardamos nada de lo que escribes. 
      </h5>

      <font color="#ff6e00"><h3>¿Por qué tengo que dar permiso a ThanxUp para acceder a mi cuenta de Facebook?</h3></font>
      <h5>Como otras muchas apps que utilizas, utilizamos Facebook como base social para nuestra plataforma. Tán solo guardamos la información necesaria para saber que eres tu el que entra en la app: nombre, email, fecha de nacimiento y género. Los checkins que hagas en ThanxUp se publican en tu muro de Facebook. Si tienes cualquier pregunta sobre privacidad puedes escribirnos a <a href="mailto:support@thanxup.com">support@thanxup.com</a> 
      </h5>

      <font color="#ff6e00"><h3>¿Términos legales?</h3></font>
      <h5>Yep, aquí los tienes: <a href="http://coupon.thanxup.com/legal">thanxup.com</a> 
      </h5>

 </div>
  <div data-theme="c" data-role="footer" data-position="fixed">
      <h3>
          Powered by <a href="http://thanxup.com"><font color="#ff6e00">thanxup.com</font></a>
      </h3>
  </div>
</div>
</body>
</html>